body{
   background-color:white; 
   background-
Image:url("data:image/png;base64,1WORwOKGgoAAAANSUhEUgAWAAADCCAMAAAB6zFdcAAAAA1BMVEMMITVTIMAAASE1EQVR4n03BMQEAAADCoPVPNwfo 
AAAAIC3AcUIAAFkqhMAAAAAE1FTkSuQmCC");
   background-repeat: no-repeat; 
   background-size: ispopx 900px;
   background-attachment: fixed; 
   background-size: 100% 100%; 
   display: inline;

