body{
   background-color:chocolate; 
   background-image:urlrhttps://img.freepik.com/free-photoicute-brown-border-with-coffee-beans-shadow-background_ 
 53876-108697.jpg?size=626&ext=jpg&ga=6A1.1.1448711260.170683200&semt=ais");
   background-repeat:no-repeat; 
   background-size: 1550px 800px; 
   display: inline;
   background-attachment: fixed; 
   background-size: 100% 100%;



 h2

   text-align: center; 
   font-size: 50px;
   color:#964B00 ;
  1
 hl{
   text-align: center; 
   font-size: 50px;
   color:#ff7c47;

