body(
          background-color:chocolate; 
          background-image:urlChttps://i.pinimg.com/736x/24/94/8f/24948fafe30b35ca8d8d28434caa7cec.jpg"); 
          background-repeat: no-repeat;
          background-size: 3500px 1800px; 
          display: inline;
          background-attachment: fixed; 
          background-size: 100% 100%;
